
data/streaming/  # Exclude streaming data if large
*.pkl
*.joblib
*.parquet


!data/raw/*.csv


__pycache__/
*.pyc
*.pyo
*.so


venv/
env/
.venv/
venv_312/
ENV/


.vscode/
.idea/
.DS_Store
*.swp


logs/
*.log


mlruns/
*.db
mlflow.db


.dvc/cache/
.dvc/tmp/
.dvc/config.local


reports/
*.png
*.jpg


.pytest_cache/
.coverage
htmlcov/


.git/
.gitignore